<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<form>
    <input type="hidden" name="route" value="http://localhost:8000/dashboard/todo">
    <input type="hidden" name="_token" value="v1fpueYIawYIPYCPj7aTOQq65woWZ79pZsvKlo9N">
    <div class="todolist">


        <div class="todolist-item">
            <div class="todolist-input">
                <div class="form-check">
                    <input type="checkbox" name="todolist4" class="form-check-input" id="todolist4"
                        data-change="todolist">
                </div>
            </div>
            <label class="todolist-label" for="todolist4">Todo 4</label>
        </div>



        <div class="todolist-item">
            <div class="todolist-input">
                <div class="form-check">
                    <input type="checkbox" name="todolist3" class="form-check-input" id="todolist3"
                        data-change="todolist">
                </div>
            </div>
            <label class="todolist-label" for="todolist3">Todo 3</label>
        </div>



        <div class="todolist-item">
            <div class="todolist-input">
                <div class="form-check">
                    <input type="checkbox" name="todolist2" class="form-check-input" id="todolist2"
                        data-change="todolist">
                </div>
            </div>
            <label class="todolist-label" for="todolist2">Todo 2</label>
        </div>



        <div class="todolist-item">
            <div class="todolist-input">
                <div class="form-check">
                    <input type="checkbox" name="todolist1" class="form-check-input" id="todolist1"
                        data-change="todolist">
                </div>
            </div>
            <label class="todolist-label" for="todolist1">Todo 1</label>
        </div>



        <div class="todolist-item">
            <div class="todolist-input">
                <div class="form-check">
                    <input type="submit" class="form-input" onclick="event.preventDefault(); postFormData(this.form)">
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function postFormData(form) {
        var formData = $(form).serialize(); // Form verilerini alır ve stringe dönüştürür

        console.log(formData);

        var values = {};
        $.each($(form).serializeArray(), function (i, field) {
            values[field.name] = field.value;
        });

        // Checkbox kontrolü
        $(form).find('input[type="checkbox"]').each(function () {
            var checkbox = $(this);
            if (!checkbox.is(':checked')) {
                formData += '&' + checkbox.attr('name') + '=Seçili değil';
            }
        });

        //Value Retrieval Function
        var getValue = function (valueName) {
            return values[valueName];
        };

        //Retrieve the Values
        var url = getValue("route");

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            success: function (response) {
                // Gönderim işlemi başarılı olduğunda çalışacak kodlar
                console.log(response);
            },
            error: function (xhr, status, error) {
                // Gönderim işlemi başarısız olduğunda çalışacak kodlar
                console.error(error);
            }
        });
    }
</script>